[project]
	description = Smack userspace
[access "refs/*"]
	owner = group user/Rafał Krypa (rafal-krypa)
[access "refs/for/refs/*"]
	read = group user/Rafał Krypa (rafal-krypa)
	push = group user/Rafał Krypa (rafal-krypa)
	label-Code-Review = -2..+2 group user/Rafał Krypa (rafal-krypa)
	label-Verified = -1..+1 group user/Rafał Krypa (rafal-krypa)
	rebase = group user/Rafał Krypa (rafal-krypa)
	removeReviewer = group user/Rafał Krypa (rafal-krypa)
	submit = group user/Rafał Krypa (rafal-krypa)
[access "refs/heads/*"]
	read = group user/Rafał Krypa (rafal-krypa)
	create = group user/Rafał Krypa (rafal-krypa)
	push = +force group user/Rafał Krypa (rafal-krypa)
	pushMerge = group user/Rafał Krypa (rafal-krypa)
[access "refs/tags/*"]
	push = +force group user/Rafał Krypa (rafal-krypa)
	pushTag = group user/Rafał Krypa (rafal-krypa)
	pushSignedTag = group user/Rafał Krypa (rafal-krypa)
